.DS_Store
*.pyc
*.egg-info
*.swp
tags
albion/public/dist
albion/public/node_modules
albion/docs/current
node_modules/
dist/
__pycache__/

.vscode
.vs
node_modules
*debug.log
albion/public/frontend
albion/www/portal.html
yarn.lock
package-lock.json
